Fundamentos/ExemploFundamentos/bin/
Fundamentos/ExemploFundamentos/obj/
Fundamentos/ExemploFundamentos.Common/obj/
Fundamentos/ExemploFundamentos.Common/bin/
Fundamentos/DesafioFundamentos/obj/
Fundamentos/DesafioFundamentos/bin/
Explorando/obj/
Explorando/bin/
Explorando/DesafioExplorando/DesafioExplorando/obj/
Explorando/DesafioExplorando/DesafioExplorando/bin/